         
<div id="login">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2> Iniciar Sesión.</h2>
                <br>
                <form method="post">
                    <div class="form-group">
                        <input id="usuario" type="text" name="usuario" placeholder="Usuario" class="form-control">  
                    </div>
                    <div class="form-group">
                        <input id="password" type="password" name="password" placeholder="Contraseña" class="form-control">  
                    </div>
                    <button id="btnLogear" type="button" class="btn btn-dark btn-block">Iniciar Sesión</button>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    /* ------------------------ registro.css ------------------------ */
    #login {
        background: url('./css/registro/banner_caitlyn.jpg');
        height: 768px;
    }
    .row {
        margin-top: 50px;
    }
    .container {
    
        padding-left: 350px;
        padding-right: 350px;
        padding-top: 100px;
    }
    h2 {
        font-size: 40px;
        color: white;
    }
</style>